<div class="flex bg-white p-8 rounded-lg shadow-lg max-w-6xl w-full">
    <aside class="w-64 bg-gray-100 rounded-lg flex-shrink-0">
        <div class="p-4">
            <nav>
                <ul class="space-y-2">
                    <li>
                        <a href="#" class="transition-all block px-4 p-1 text-lg bg-gray-200 hover:bg-gray-300 rounded">📊 Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="transition-all block px-4 p-1 text-lg hover:bg-gray-300 rounded">🌐 Sites</a>
                    </li>
                    <li>
                        <a href="#" class="transition-all block px-4 p-1 text-lg hover:bg-gray-300 rounded">📁 File Manager</a>
                        </li>
                    <li>
                        <a href="#" class="transition-all block px-4 p-1 text-lg hover:bg-gray-300 rounded">↪️ Redirects</a>
                    </li>
                    <li>
                        <a href="#" class="transition-all block px-4 p-1 text-lg hover:bg-gray-300 rounded">⏰ Crons</a>
                    </li>
                    <li>
                        <a href="#" class="transition-all block px-4 p-1 text-lg hover:bg-gray-300 rounded">📜 Logs</a>
                    </li>
                    <li>
                        <a href="#" class="transition-all block px-4 p-1 text-lg hover:bg-gray-300 rounded">🛠️ Server Managment</a>
                    </li>
                    <li>
                        <a href="#" class="transition-all block px-4 p-1 text-lg hover:bg-gray-300 rounded" onclick="deleteSessionCookie('session'); return false;">👋 Logout</a>
                    </li>
                </ul>
        </nav>
        </div>
    </aside>
</div>